/*Stylesheet for Mobile App*/

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
    margin:0;
    padding:0;
}

body{
    width: auto;
    background-color:blue;
}
div#container{
    width:100%;
  height: 800px;
    background-color:rebeccapurple;
    border:3px dashed orange;
    
}
header{
    width:auto;
    padding: 50px;
    background-color: white;
}
header  img#applogo{
    display: block;
    margin: auto;
    width: 100px;
}
header h1{
    color:purple;
    text-align: center;
    font-family:bold;
    font-size:2em;
}

h2{
    font-size: 5em;
    color: white;
    text-align: center;
}

header h3 {
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: 5em;
}
h6{
    color: white;
}
h7{
    font-size: 1.6em;
    color: white;
}
figcaption{
    color: white;
    font-size: 3em;
}
div#sonic_grp{
    max-width:80%;
    min-width:20%;
    
    margin:auto;
}
figure.product{
    float:left;
    margin:4px;
    min-width: 30%;
    max-width: 50%;
    background-color: cadetblue;
    border-radius:5%;
}
figure.product img{
    display:block;
    padding: 10px 0;
    width: 80%;
    margin:auto;
}



figure.product figcaption{
    text-align: center;
    color:white;
    font-family: bold;
    font-size:24px;
}


img#ref{
				display: block;
				width:200px;
				height:auto;
				border-radius:50%;
				border:solid 5px orange;
				position:absolute;
				left:500px;
				top:200px;
				z-index:1;
				transition: 2s;
			}
			img#batfleck:hover{
				width:500px;
			}
/*

nav ul{
    display: block;
    margin:auto;
    color:gold;
    font-family:cursive;
    font-size: 4em;
    list-style: none;
}
nav ul li a{
    float:left;
    display: block;
    padding: 5px, 15px;
    border-right: 1px solid #af904a;
    color: ghostwhite;
    text-decoration: none;
}


nav ul li a:hover{
    background-color: antiquewhite;
    color: darkslategrey;
}
*/
/*
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: chocolate;
}
div.keepOpen{
    clear:both;
}
*/
icon-bar{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #555;
    overflow: auto;
    
}

.icon-bar a{
    float: left;
    width:20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color:white;
    font-size: 36px;
    
}

.icon-bar a:hover{
    background-color: #000;
}
.active{
    background-color: green;
}


@media screen and (max-width: 800px){
    figure.product{
		float:none;
		margin:10px auto;
		min-width:50%;
		max-width:100%;
		background-color: cadetblue;
		border-radius:5%;
}
    figure.product figcaption{
        text-align: center;
        color: white;
        font-family: bold;
        font-size: 12px;
        
    }
    
    legend, span, input, textarea{
        display: block;
        margin: auto;
        text-align: center;
        font-family: sans-serif;
        color: white;
    }